:root {
    //define color values at here
    --white: #fff;
    --black: #000;
    --name-color: #0008ff;
    --header-title-color: rgba(255, 255, 255, 0.8);
    --header-title-bg: #744806;
    --pages-bg: #fdf4f4;
}