.wrapper {
    margin-top: var(--header-height);
}

.title {
    font-size: 3rem;
    font-weight: 500;
}

.description {
    font-size: 2.2rem;
    opacity: 0.8;
    margin-bottom: 32px;
}

.contact-col {
    padding-bottom: 16px;
}