.wrapper {
    padding-top: var(--header-height);
    background-color: #e5fae7;
}

.title {
    font-size: 3rem;
    font-weight: 500;
}

.description {
    font-size: 2.2rem;
    opacity: 0.8;
    margin-bottom: 32px;
    padding: 0 8px;
}

.contact-col {
    padding-bottom: 16px;
}