.wrapper {
    display: block;
    padding: 24px 0;
    text-decoration: none;
    color: var(--black);
    &:hover {
        .picture {
            transform: translateY(-4px);
            transition-duration: 0.3s;
            color: var(--black);
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
        }
    }
    .description {
        color: var(--black);
    }
}

.picture {
    height: 160px;
    background-image: url('/assets/img/Reactjs.jpeg');
    background-position: center;
    background-size: cover;
    opacity: 0.6;
    border-radius: 6px;
    position: relative;
}

.infomation {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: var(--white);
    opacity: 1;
}

.title {
    font-size: 2.9rem;
    font-weight: 600;
}

.sub-title {
    font-weight: 500;
    color: #ffd86b;
}

.description {
    padding-top: 24px;
}